<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/calc/calculate" method="post">
        <p>first</p>
        <input type="text" name="firstArg">
        <select name="symbol">
            <option selected value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <p>second</p>
        <input type="text" name="secondArg">
        <button type="submit">Calc</button>
    </form>
    <p>Result</p>
    <p th:text="${result}"></p>
    <br>

    <p>Operation history</p>
    <tr th:each="result : ${history}">
        <td>Result: <span th:text="${result.getResult()}"></span></td>
        <br>
        <td>Date: <span th:text="${result.getOperationTime()}"></span></td>
        <br>
        <br>
    </tr>

</body>
</html>